.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #00d089;
}

.footer__content {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica LT Condensed";
  text-transform: uppercase;
}