.header {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4b95a1;
}

.header__logo {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
  font-size: 40px;
  font-family: "Cherry Swash";
  text-decoration: none;
  color: #fff;
}

.header__logo:visited {
  color: #fff;
}